<h2 style="padding: 13px;">  
    The ML Model predicts the damages in various area of the vehicle
</h2>
<h2 style="padding: 13px;">
    The second model predicts the legth of the scratch and damaged area. 
</h2>


<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row">
    <div fxFlex.gt-sm="100%" >
            <mat-card>
                    <mat-card-content>
                        <mat-card-title>Basic Tooltip</mat-card-title>
                        <mat-card-subtitle>The Angular Material tooltip provides a text label that is displayed when the user hovers over or longpresses an element. add <code>matTooltip="yourtext"</code> to any element </mat-card-subtitle>
                            <span matTooltip="Tooltip!">I have a tooltip</span>
                    </mat-card-content>        
            </mat-card>
    </div>
</div>  