

ul,  
li {  
      margin: 0;  
      padding: 0;  
      list-style: none;  
}


ngb-progressbar {
        margin-top: 5rem;
    }
    /* .mat-card {
      opacity: 0.5;
    } */
/* #BG {
      background: url(assets/img/antoine-barres.jpg);
      background-size: auto;
} */

.mat-card {background: rgba(0,0,0,0.5);}
.imageurl {background: rgba(0,0,0,0.5);}


/* style="background-image: url('assets/img/ilya-yakover.jpg'); background-size:cover; " */
/* style="background-image: url('assets/img/ilya-yakover.jpg'); background-size:cover;filter: blur(8px); -webkit-filter: blur(8px); " */

/* .backgroundImageCVR{
	position:relative;
	padding:15px;
} */


      
      /* The image used */
      /* background-image: url("src/assets/img/ilya-yakover.jpg"); */
    
      /* .bg-image {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:url("src/assets/img/ilya-yakover.jpg");
	background-size:cover;
	z-index:1;
	-webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: blur(10px);	      
      } */
    
    /* .Bg {
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.4);
      color: white;
      font-weight: bold;
      border: 3px solid #f1f1f1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 80%;
      padding: 20px;
      text-align: center;
    } */